html {
    font-family: monospace; 
    background-color: #0a192f;
    color:#8892b0;
    font-size: 16px;
}

h1{ 
    color: #ccd6f6;
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

h2{
    color:;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}


h3{
color:#ccd6f6; 
font-size: 30px;
}

h3:after{
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 30%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #ccd6f6;
    opacity: .2;
}    

h4{
color: aliceblue;
font-size: 18px;
margin: 0;
}
.intro-wrapper #hi{
    color: #64ffda ;
    padding: 0;
}
.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
}

nav a{ 
    margin:10px;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color:#64ffda;
    text-decoration: none;
}

span{
    color:#64ffda;
}

.btn-group .button{
    background-color: transparent; /* Green */
    border: 1px solid#64ffda;
    color:#64ffda;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    font-family: monospace;
}

/* 
nav  {
    border: 1px solid white;
} */

.main-wrapper{
    display:flex;
    /* border: 2px solid red; */
}

.logo-nav{
    position: fixed;
    bottom:0;
    left:0;
    padding: 20px;    
    /* width: 7rem;
    height: 7rem; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-self: flex-end; */
    /* border: 1px solid red; */
}

.logo{
text-align: center;
padding: 10px;
}

/* .logo{
    margin: 0 5px;
} */


.logo-nav img{
    height: 50px;
    width: 50px;
}

.secondary-wrapper{
    display:flex;
    /* justify-content: center; */
    /* border: 1px solid red; */
    flex-direction: column;
    padding: 70px;
    /* width: 700px; */
}

.intro-wrapper{
    width: 900px;
    /* border: 1px solid red; */
    padding-bottom: 150px;
    padding-left: 70px;
}

.intro-secondwrapper{
    width: 600px;

}

.wrapper{
    display: flex;
    align-self: center;
    /* border: 1px solid orange; */
}

#first{
    float: right;
    width: 30%;
    height: 30%;
}

#second{
    float: left;
}

.about-wrapper{
    /* border: 1px solid lime; */
    padding-left: 110px;
    padding-bottom: 70px;
    width: 900px;
}

.experience-wrapper{
    /* border: 2px brown; */
    margin: 60px;
    padding-left: 200px;
    padding-bottom: 70px;
}

#first img{
width: 200px;
height: 200px;
padding: 20px;
}

a {
color: #64ffda;
text-decoration: none;   
}

a:hover{
    text-decoration: underline;
}

.experience-wrapper p{
    padding: 0px;
    margin: 5px;
}

.projects-wrapper{
    padding-left: 150px;
    padding-bottom: 100px;

}

footer{
    font-size: 10px;
    text-align: center;
    margin-bottom: 30px;
}

/* @media (max-width:200px){
.logo-nav {display: hidden};
} */

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }